.formSubmit {
  text-align: center;
}

.infoSection {
  text-align: center;
}

.infoSection p {
  display: flex;
  justify-content: center;
  margin: 400px 0 800px 0;
  font-size: 2em;
}

form {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  padding-top: 400px;
  font-size: 2em;
}

form label {
  margin-bottom: 20px;
}

form button {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 20px;
}

.pTagAnimations {
  border: 2px solid black;
  height: 200px;
  overflow: hidden;
  /* background-color: rgb(214, 230, 214); */
}

* {
  box-sizing: border-box;
}

.face {
  display: flex;
  justify-content: space-between;
  width: 150px;
  height: 50px;
  padding: 30px;
  background: tomato;
  transition: 0.3s ease-in-out;
}

.face:hover {
  background: green;
}

.eye {
  background: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform-origin: 50%;
  animation: blink 3s infinite;
}

.hole {
  background: black;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
}

@keyframes blink {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}
