img {
  height: 175px;
  width: 175px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 50px 150px 20px 150px;
}

.section img {
  border-radius: 3%;
  border: 4px rgba(254, 109, 115) solid;
  box-shadow: black 2px 2px 6px 2px ;
}

div.left, div.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0 40px 0;
  display: flex;
  align-items: center;
  font-size: 17px;
}

div.right:last-child {
  margin-bottom: 300px;
}

.name {
  font-weight: bolder;
  font-size: 2em;
}

.text {
  padding: 0 15px 0 15px;
}

.right {
display: flex;
align-self: flex-end;
}

.left {
display: flex;
align-self: flex-start;
}

.aboutHeader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px rgba(254, 109, 115) solid;
  width: 345px;
  box-shadow: black 2px 2px 6px 2px;
}