.authSect {

}

.authWelcome {
    text-align: center;
    font-size: 30px;

}

.btnDiv {
    text-align: center;
    
}

.imgDiv {
    background-color: white;
    padding: 0px;
}

.btnSect {
    display: inline-flex;
    justify-content: space-between;
}

.btnP {
    margin-left: 5px;
}

.authBtn {
    background-color: rgba(72, 152, 238, 0.662);
    border-radius: 3%;
    padding: 0px;
    margin: 0px;
    box-shadow: 1px 2px grey;
}

.googleBtn {
    padding: 2px;
    background-color: white;
    margin-top: 5px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}